.navbar{
    height: 100px;
    width: inherit;
    background-color: #058bac;
    text-align: center;
}
html, body{
    padding: 0;
    margin: 0;
}
.navlogo{
    height: 90px;
    width: auto;
    margin-top: 10px;
    margin-left: 25px;
}
.navbarconleft{
    height: inherit;
    width: inherit;
    float: left;
}
#navcentertext{
    text-align: center;
    width: 200px;
    height: auto;
    margin-left: 487px;
    margin-top: 35px;
}
body{
    background-color: #e2e2e2;
}
.navbarconright{
    height: inherit;
    width: inherit;
    float: right;
}
.avatar{
    height: 80px;
    width: auto;
    margin-top: 11px;
    margin-right: 10px;
}
.Navtxt{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 75%;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
#ntxtdiv{
    text-align: left;
    margin-top: 20px;
    margin-right: 25px;
}
#name{
    color: white;
}
.largeTXT{
    color: #058bac;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 125%
}
.oTXT{
    color: #f9a148;
}