.navbar{
    height: 100px;
    width: 100%;
    background-color: #058bac;
    text-align: center;
    top: 0;
    position: fixed;
    z-index: 1;
}
html, body{
    padding: 0;
    margin: 0;
}
.navlogo{
    height: 90px;
    width: auto;
    margin-top: 10px;
    margin-left: 25px;
    z-index: 1;
}
.navbarconleft{
    height: inherit;
    width: auto;
    float: left;
    z-index: 1;
}
#navcentertext{
    text-align: center;
    width: 200px;
    height: auto;
    margin-left: 487px;
    margin-top: 35px;
    z-index: 1;
}
body{
    background-color: #e2e2e2;
    width: 100%
}
.navbarconright{
    height: inherit;
    width:auto;
    float: right;
    z-index: 1;
}
.avatar{
    height: 80px;
    width: auto;
    margin-top: 11px;
    margin-right: 10px;
    z-index: 1;
}
.Navtxt{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 75%;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
    z-index: 1;
}
#ntxtdiv{
    text-align: left;
    margin-top: 20px;
    margin-right: 25px;
    z-index: 1;
}
#name{
    color: white;
    z-index: 1;
}
.largeTXT{
    color: #058bac;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 150%;
    margin-left: 50px;
    z-index: 1;
}
.largeTXTfmt{
    color: #058bac;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 150%;;
    z-index: 1;
    float: left;
}
.oTXT{
    color: #f9a148;
    font-weight: 700;
}
.txthead{
    margin-top: 150px;
    z-index: 1;
}
.floatleftimg{
    display: inline-block;
    color: #f9a148;
    font-family: "Raleway", sans-serif;
    text-align: left;
    font-weight: 600;
    margin: 50px;
    font-size: 125%;
    z-index: 1;
}
.tridiv{
    width: auto;
    height: 400px;
    text-align: center;
    z-index: 1;
}
.superdiv{
    height: auto;
    text-align: center;
    z-index: 1;
}
.subdiv{
    display: inline-block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #f9a148;
    width:800px;
}
.cirimg{
    height: 200px;
    width: auto;
    z-index: 1;
}
.time{
    margin-top: 5px;
    font-size: 50%;
    z-index: 1;
}
p{
    margin-bottom: 0;
}
.carit{
    width:200px;
    z
}
#car{
    display: inline-block;
}
.arrow{
    display: inline-block;
    height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.test{
    text-align: center;
    margin-bottom: 100px;
}
.wrap{
    width: 830px;
    text-align: center;
    display: inline-block;
}
.loop{
    display: inline-block;
}
.item{
    text-align: center;
    width:200px;
}
.txt2{
    margin-bottom: 50px;
}
.owl-wrapper {
    margin: 0 auto;
}
#rightarrow{
    -moz-transform: translateY(-50%) scaleX(-1);
    -o-transform: translateY(-50%) scaleX(-1);
    -webkit-transform: translateY(-50%) scaleX(-1);
    transform:translateY(-50%) scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}
.inbx{
    width: 100%;
    height: 8em;
    border: solid 1px white;
    background-color: #e2e2e2;
    color: rgb(150, 150, 150);
    font-family: "Raleway", sans-serif;
    font-weight: 600;
}
.chbx{
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: orange;
}
.chbxdiv{
    text-align: left;
    height: auto;
    width: 1000px;
}
.vertal{
    display: inline-block;
    width: 900px;
}
.inline{
    width: 75px;
    position: relative;
    top: 50%;
    transform: translateY(-15%);
    display: inline-block;
}
.overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color:#000;
    opacity:0.75;
    display:block;
    z-index:1001;
}          
.overlay-message1{
    position: absolute;
    padding-left: 500px; 
    opacity:0.;
    z-index:1005;

}
.overlay-message2{
    position: absolute;
    padding-left: 500px; 
    opacity:0.;
    z-index:1005;

}
.overlay-message3{
    position: absolute;
    padding-left: 500px; 
    opacity:0.;
    z-index:1005;

}
.notifButton1{
   display: inline-block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: #cccccc; 
    margin-left: 10px;
}
.notifButton2{
   display: inline-block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: #cccccc;
}
.notifButton3{
   display: inline-block;
    text-align: left;
    font-family: "Raleway", sans-serif;
    font-weight: 1;
    color: #cccccc;
}