.navbar{
    height: 100px;
    width: 100%;
    background-color: #058bac;
    text-align: center;
    top: 0;
    position: fixed;
}
html, body{
    padding: 0;
    margin: 0;
}
.navlogo{
    height: 90px;
    width: auto;
    margin-top: 10px;
    margin-left: 25px;
}
.navbarconleft{
    height: inherit;
    width: auto;
    float: left;
}
#navcentertext{
    text-align: center;
    width: 200px;
    height: auto;
    margin-left: 487px;
    margin-top: 35px;
}
body{
    background-color: #e2e2e2;
    width: 100%
}
.navbarconright{
    height: inherit;
    width:auto;
    float: right;
}
.avatar{
    height: 80px;
    width: auto;
    margin-top: 11px;
    margin-right: 10px;
}
.Navtxt{
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 75%;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
#ntxtdiv{
    text-align: left;
    margin-top: 20px;
    margin-right: 25px;
}
#name{
    color: white;
}
.largeTXT{
    color: #058bac;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    font-size: 150%;
    margin-left: 50px;
}
.oTXT{
    color: #f9a148;
}
.txthead{
    margin-top: 100px;
}
.floatleftimg{
    display: inline-block;
    color: #f9a148;
    font-family: "Raleway", sans-serif;
    text-align: left;
    font-weight: 600;
    margin: 50px;
    font-size: 125%;
}
.tridiv{
    width: auto;
    height: 400px;
    text-align: center;
}
.cirimg{
    height: 200px;
    width: auto;
}
.time{
    margin-top: 5px;
    font-size: 50%;
}
p{
    margin-bottom: 0;
}
.carit{
    width:200px;
}
#car{
    display: inline-block;
}
.arrow{
    display: inline-block;
    height: 100px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.test{
    text-align: center;
}
.wrap{
    width: 830px;
    text-align: center;
    display: inline-block;
}
.loop{
    display: inline-block;
}
.item{
    text-align: center;
    width:200px;
}
.txt2{
    margin-bottom: 50px;
}
.owl-wrapper {
    margin: 0 auto;
}
#rightarrow{
    -moz-transform: translateY(-50%) scaleX(-1);
    -o-transform: translateY(-50%) scaleX(-1);
    -webkit-transform: translateY(-50%) scaleX(-1);
    transform:translateY(-50%) scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}